.contact{
  @include radial-gradient(#28085C, #000000);

  .ai-group{
    .bg-ai{
      height: 196px;
      @include media-breakpoint-up(md){
        height: 232px;
        width: 72.291%;
      }
    }
    
    // diane
    .bg-ai-1{
      background-image: url('../images/mobile/diane_choose.png');
      @include media-breakpoint-up(lg){
        background-image: url('../images/horizontal/diane_horizontal.png');
      }
    }

    // Felix
    .bg-ai-2{
      background-image: url('../images/mobile/felix_choose.png');
      @include media-breakpoint-up(lg){
        background-image: url('../images/horizontal/felix_horizontal.png');
      }
    }

    // Karina
    .bg-ai-3{
      background-image: url('../images/mobile/karina_choose.png');
      @include media-breakpoint-up(lg){
        background-image: url('../images/horizontal/karina_horizontal.png');
      }
    }

    // Vito
    .bg-ai-4{
      background-image: url('../images/mobile/vito_choose.png');
      @include media-breakpoint-up(lg){
        background-image: url('../images/horizontal/vito_horizontal.png');
      }
    }
    
  }
}