<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>ALPHABOX+ 虛擬陪伴平台</title>
  <%- include('./layout/meta') -%>
  <%- include('./layout/font') -%>
</head>

<body>
  <%- include('./layout/header'); -%>

  <main class="contact pt-32 pt-lg-40 min-vh-100">
    <section>
      <div class="container">
        <h1 class="fs-10 fs-lg-16 text-white letter-lg-s64 mb-lg-4 mb-10">聯絡我們</h1>
        <div class="row pb-20 pb-lg-40">
          <div class="offset-lg-1 col-lg-6 text-white mb-15 mb-lg-0">
            <p class="fw-normal mb-8 mb-lg-16">您的意見與需求對我們至關重要！如果您對 ALPHABOX+ 有任何疑問、建議或需求，請隨時填寫以下表單，我們將在 24 小時內回覆您。您的寶貴意見將幫助我們不斷改進產品與服務，為您帶來更優質的體驗。</p>
            <h3 class="mb-8 mb-lg-16 fs-4 fw-bold">我們期待您的來信與來電，竭誠為您解答。讓我們攜手共創更美好的未來！</h3>
            <form action="" class="text-dark">
              <div class="form-floating mb-4">
                <input type="text" class="form-control" id="floatingName" placeholder="請輸入姓名">
                <label for="floatingName">姓名</label>
              </div>
              <div class="form-floating mb-4">
                <input type="email" class="form-control" id="floatingEmail" placeholder="請輸入 Email">
                <label for="floatingEmail">Email</label>
              </div>
              <div class="form-floating mb-4">
                <input type="tel" class="form-control" id="floatingTel" placeholder="請輸入電話">
                <label for="floatingTel">電話</label>
              </div>
              <div class="form-floating mb-4">
                <textarea class="form-control" placeholder="請留言" id="floatingTextarea"></textarea>
                <label for="floatingTextarea">Comments</label>
              </div>
              <button type="button" class="btn btn-primary w-100 text-white py-2 px-4"><i class="material-symbols-outlined me-1 align-bottom">point_scan </i>送出</button>
            </form>
          </div>
          <div class="offset-lg-1 col-lg-4 text-white">
            <ul>
              <li class="mb-lg-10">
                <p class="mb-0 fw-normal opacity-50">客服時間</p>
                <p class="mb-0 fw-normal">週一至週五 09:00-18:00</p>
              </li>
              <li class="mb-lg-10">
                <p class="mb-0 fw-normal opacity-50">聯絡地址</p>
                <address>
                  <a class="text-white" target="_blank" href="https://maps.app.goo.gl/2jpXqYo6cQLyUoZD6">台北市信義區市府路45 號</a>
                </address>
              </li>
              <li class="mb-lg-10">
                <p class="mb-0 fw-normal opacity-50">聯絡地址</p>
                <address>
                  <a class="text-white d-block" target="_blank" href="tel:+886-2-12345678">+886-2-12345678</a>
                  <a class="text-white d-block" target="_blank" href="mailto:customer@alphabox.com">mailto:customer@alphabox.com</a>
                </address>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="border-white border-top-0 border-top-md">
        <div class="container">
          <ul class="border-top border-top-md-0 d-flex flex-column flex-lg-row row-gap-4 row-gap-md-0 justify-content-end pt-10 pb-10">
            <li><a class="fw-light text-white me-lg-18" href="">INSTAGRAM</a></li>
            <li><a class="fw-light text-white me-lg-18" href="">FACEBOOK</a></li>
            <li><a class="fw-light text-white me-lg-18" href="">TWITTER</a></li>
            <li><a class="fw-light text-white" href="">LINKEDIN</a></li>
          </ul>
        </div>
      </div>
    </section>
    <section class="bg-white pt-15 pt-lg-40 pt-lg-30 mb-md-30">
      <div class="container">
        <div class="row mb-6 mb-md-20">
          <h2 class="fs-10 fs-lg-16 fw-bold letter-s40 letter-md-s64 mb-4 mb-md-6">選擇自己要的角色</h2>
          <h3 class="fs-6 fs-md-12 fw-bold"><span class="text-primary d-inline-block me-2 me-md-6">20K+</span>使用者喜歡我們的服務</h3>
        </div>
      </div>
      <div class="ai-group">
        <ul class="list-unstyled">
          <li class="position-relative">
            <div class="bg-cover bg-ai bg-ai-1"></div>
            <div class="position-absolute top-0 start-0 end-0 h-196 h-md-232">
              <div class="container h-100">
                <div class="row align-items-center h-100">
                  <h3 class="fs-10 fs-md-16 font-shrikhand">
                    <a href="" class="text-white">Diane</a>
                  </h3>
                </div>
              </div>
            </div>
          </li>
          <li class="position-relative d-md-flex flex-row-reverse">
            <div class="bg-cover bg-ai bg-ai-2"></div>
            <div class="position-absolute top-0 start-0 end-0 h-196 h-md-232">
              <div class="container h-100">
                <div class="row align-items-center h-100">
                  <h3 class="fs-10 fs-md-16 font-shrikhand text-end">
                    <a href="" class="text-white">Felix</a>
                  </h3>
                </div>
              </div>
            </div>
          </li>
          <li class="position-relative">
            <div class="bg-cover bg-ai bg-ai-3"></div>
            <div class="position-absolute top-0 start-0 end-0 h-196 h-md-232">
              <div class="container h-100">
                <div class="row align-items-center h-100">
                  <h3 class="fs-10 fs-md-16 font-shrikhand">
                    <a href="" class="text-white">Karina</a>
                  </h3>
                </div>
              </div>
            </div>
          </li>
          <li class="position-relative d-md-flex flex-row-reverse">
            <div class="bg-cover bg-ai bg-ai-4"></div>
            <div class="position-absolute top-0 end-0 start-0 end-0 h-196 h-md-232">
              <div class="container h-100">
                <div class="row align-items-center h-100">
                  <h3 class="fs-10 fs-md-16 font-shrikhand text-end">
                    <a href="" class="text-white">Vito</a>
                  </h3>
                </div>
              </div>
            </div>
          </li>

        </ul>
      </div>
    </section>
  </main>
  <%- include('./layout/footer'); -%>

  <script type="module" src="../main.js"></script>
</body>

</html>