<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>ALPHABOX+ 虛擬陪伴平台</title>
  <%- include('./layout/meta') -%>
  <%- include('./layout/font') -%>
</head>

<body>
  <%- include('./layout/header'); -%>

  <main class="index pt-15 pt-lg-20 min-vh-100">
    <section class="banner container-fluid px-md-20 pt-7 pt-md-14">
      <!-- 旋轉區塊 -->
      <div class="row mb-md-14 mb-8">
        <div class="col-md-3 d-flex align-items-end d-none d-md-flex">
          <div class="border-1 border-bottom border-white pb-1 flex-grow-1">
            <a href="#" class="text-white">最新消息！新版本 v15.4 釋出，搶先體驗！</a>
          </div>
        </div>
    
        <div class="col-12 col-md-6 d-flex justify-content-center order-2 mb-8 mb-md-0">
          <img class="rotate-image flex-shrink-0" src="../assets/images/circle.png" alt="rotate-image">
        </div>
    
        <div class="col-12 col-md-3 d-flex flex-column justify-content-between order-1 order-md-3">
          <div class="border-1 border-top border-white pt-2 pt-lg-1 mb-8 mb-md-0">
            <a href="#" class="text-white letter-4">ALPHABOX+ STUDIO</a>
          </div>
          <p class="text-primary-150 d-none d-md-block letter-4">Copyright © 2023 Hexschool.</p>
        </div>
        <!-- mobile title -->
        <div class="d-md-none text-white mb-0 mb-md-8 text-center order-3">
          <h1 class="fs-5 font-shrikhand letter-s26 mb-0">ALPHABOX+</h1>
          <h2 class="letter-12 fs-4 mb-0">擁抱未來科技，專屬您的3D立體投影陪伴機器人</h2>
        </div>
      </div>
      <!-- banner 圖片區塊 -->
      <div class="row position-relative banner-group z-2">
        <div class="col-md-3 mb-4 mb-md-0">
          <a href="#" class="d-block position-relative banner-image-link h-100">
            <h3 class="fs-9 font-shrikhand text-white position-absolute start-50 translate-middle-x top-16px">Diane</h3>
            <img class="w-100 h-100 object-fit-cover object-position-top" src="../assets/images/diane.png" alt="ai-image">
          </a>
        </div>
        <div class="col-md-6 h-100">
          <div class="d-none d-md-block text-white text-center">
            <h1 class="font-shrikhand letter-s26 letter-xxl-s80 fs-5 fs-xl-8 mb-0">ALPHABOX+</h1>
            <h2 class="fw-bold letter-4 letter-lg-s16 fs-4 mb-md-6">擁抱未來科技，專屬您的3D立體投影陪伴機器人</h2>
          </div>
          <div class="row">
            <div class="col-md-6 mb-4 mb-md-0">
              <a href="#" class="d-block position-relative banner-image-center-link h-100">
                <h3 class="fs-9 font-shrikhand text-white position-absolute start-50 translate-middle-x top-16px">Felix</h3>
                <img class="w-100 h-100 object-fit-cover object-position-top" src="../assets/images/Felix.png" alt="ai-image">
              </a>
            </div>
            <div class="col-md-6 mb-4 mb-md-0">
              <a href="#" class="d-block position-relative banner-image-center-link h-100">
                <h3 class="fs-9 font-shrikhand text-white position-absolute start-50 translate-middle-x top-16px">Karina</h3>
                <img class="w-100 h-100 object-fit-cover object-position-top" src="../assets/images/Karina.png" alt="ai-image">
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-3 mb-4 mb-md-0">
          <a href="#" class="d-block position-relative banner-image-link h-100">
            <h3 class="fs-9 font-shrikhand text-white position-absolute start-50 translate-middle-x top-16px">Vito</h3>
            <img class="w-100 h-100 object-fit-cover object-position-top" src="../assets/images/Vito.png" alt="ai-image">
          </a>
        </div>
        <!-- line-gradient -->
        <div class="mt-4 mt-md-10">
          <div class="banner-gradient-lr py-5"></div>
        </div>
      </div>
    </section>
    <section class="info position-relative px-md-20">
      <div class="col-6 info-banner h-100 position-absolute top-0 start-0"></div>
      <div class="col-6"></div> 
      <h2 class="mb-0 info-title position-absolute text-white fs-6 letter-s24 letter-xl-s48 fs-md-12 z-5 ps-3 ps-md-20 pb-5 pb-md-4 border-1 border-white border-bottom start-0 end-0">什麼是<br />ALPHABOX+</h2>
      <!-- Swiper -->
      <div class="px-lg-20">
        <div class="container-fluid py-4 py-md-8">
          <div class="row align-items-center">
            <div class="d-none d-md-block swiper-button-prev">
              <svg xmlns="http://www.w3.org/2000/svg" width="180" height="48" viewBox="0 0 180 48" fill="none">
                <mask id="mask0_303_5647" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="180" height="48">
                  <rect width="180" height="48" fill="#28085C" />
                </mask>
                <g mask="url(#mask0_303_5647)">
                  <path d="M26 38L4 24L26 10L19.15 22H176V26H19.15L26 38Z" fill="white" />
                </g>
              </svg>
            </div>
            
            <div class="swiper info-swiper">
              <ul class="swiper-wrapper">
                <li class="swiper-slide">
                  <img class="img-fluid object-fit-cover h-100" src="../assets/images/carousel.png" alt="info-image" />
                </li>
                <li class="swiper-slide">
                  <img class="img-fluid object-fit-cover h-100" src="../assets/images/carousel.png" alt="info-image" />
                </li>
              </ul>
            </div>
            <div class="d-none d-md-block swiper-button-next">
              <svg xmlns="http://www.w3.org/2000/svg" width="180" height="48" viewBox="0 0 180 48" fill="none">
                <mask id="mask0_250_5034" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="180" height="48">
                  <rect width="180" height="48" fill="#D9D9D9" />
                </mask>
                <g mask="url(#mask0_250_5034)">
                  <path d="M154 38L160.85 26H4V22H160.85L154 10L176 24L154 38Z" fill="white" />
                </g>
              </svg>
            </div>
          </div>
        </div>
      </div>

      
    </section>
  </main> 
  
  <!-- <%- include('./layout/footer'); -%> -->

  <!-- register modal -->
  <div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content rounded-0 text-center">
        <div class="modal-header d-block position-relative border-bottom border-3 border-primary">
          <h5 class="modal-title serif" id="registerLabel">立刻成為7TAO會員</h5>
          <button type="button" class="btn-close text-primary position-absolute top-50 end-0 translate-middle-y opacity-100 me-3 mt-0 p-0" data-bs-dismiss="modal"
            aria-label="Close"></button>
        </div>
        <div class="py-8 py-md-12">
          <p class="modal-body py-0 mb-4">
            立刻成為七逃會員，加速活動報名流程並取得活動優惠資訊。<br />
            您也可以先報名活動，日後再註冊帳號，<br />
            系統會在認證您的Email後，協助您找回舊的訂單。
          </p>
          <a href="#" class="btn btn-primary text-secondary rounded-0 mx-auto px-5 py-2">立即成為會員</a>
        </div>
      </div>
    </div>
  </div>
  


  <script type="module" src="../main.js"></script>
  <script type="module" src="../assets/js/index.js"></script>

</body>

</html>