<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>ALPHABOX+ 虛擬陪伴平台</title>
  <%- include('./layout/meta') -%>
  <%- include('./layout/font') -%>
</head>

<body>
  <%- include('./layout/header'); -%>

  <main class="index pt-15 pt-lg-20 min-vh-100">
    <section class="banner container-fluid px-md-20 pt-7 pt-md-14">
      <!-- 旋轉區塊 -->
      <div class="row mb-md-14 mb-8">
        <div class="col-md-3 d-flex align-items-end d-none d-md-flex">
          <div class="border-1 border-bottom border-white pb-1 flex-grow-1">
            <a href="#" class="text-white">最新消息！新版本 v15.4 釋出，搶先體驗！</a>
          </div>
        </div>
    
        <div class="col-12 col-md-6 d-flex justify-content-center order-2 mb-8 mb-md-0">
          <img class="rotate-image flex-shrink-0" src="../assets/images/circle.png" alt="rotate-image">
        </div>
    
        <div class="col-12 col-md-3 d-flex flex-column justify-content-between order-1 order-md-3">
          <div class="border-1 border-top border-white pt-2 pt-lg-1 mb-8 mb-md-0">
            <a href="#" class="text-white letter-4">ALPHABOX+ STUDIO</a>
          </div>
          <p class="text-primary-150 d-none d-md-block letter-4">Copyright © 2023 Hexschool.</p>
        </div>
        <!-- mobile title -->
        <div class="d-md-none text-white mb-0 mb-md-8 text-center order-3">
          <h1 class="fs-5 font-shrikhand letter-s26 mb-0">ALPHABOX+</h1>
          <h2 class="letter-12 fs-4 mb-0">擁抱未來科技，專屬您的3D立體投影陪伴機器人</h2>
        </div>
      </div>
      <!-- banner 圖片區塊 -->
      <div class="row position-relative banner-group z-2">
        <div class="col-md-3 mb-4 mb-md-0">
          <a href="#" class="d-block position-relative banner-image-link h-100">
            <h3 class="fs-9 font-shrikhand text-white position-absolute start-50 translate-middle-x top-16px">Diane</h3>
            <img class="w-100 h-100 object-fit-cover object-position-top" src="../assets/images/diane.png" alt="ai-image">
          </a>
        </div>
        <div class="col-md-6 h-100">
          <div class="d-none d-md-block text-white text-center">
            <h1 class="font-shrikhand letter-s26 letter-xxl-s80 fs-5 fs-xl-8 mb-0">ALPHABOX+</h1>
            <h2 class="fw-bold letter-4 letter-lg-s16 fs-4 mb-md-6">擁抱未來科技，專屬您的3D立體投影陪伴機器人</h2>
          </div>
          <div class="row">
            <div class="col-md-6 mb-4 mb-md-0">
              <a href="#" class="d-block position-relative banner-image-center-link h-100">
                <h3 class="fs-9 font-shrikhand text-white position-absolute start-50 translate-middle-x top-16px">Felix</h3>
                <img class="w-100 h-100 object-fit-cover object-position-top" src="../assets/images/Felix.png" alt="ai-image">
              </a>
            </div>
            <div class="col-md-6 mb-4 mb-md-0">
              <a href="#" class="d-block position-relative banner-image-center-link h-100">
                <h3 class="fs-9 font-shrikhand text-white position-absolute start-50 translate-middle-x top-16px">Karina</h3>
                <img class="w-100 h-100 object-fit-cover object-position-top" src="../assets/images/Karina.png" alt="ai-image">
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-3 mb-4 mb-md-0">
          <a href="#" class="d-block position-relative banner-image-link h-100">
            <h3 class="fs-9 font-shrikhand text-white position-absolute start-50 translate-middle-x top-16px">Vito</h3>
            <img class="w-100 h-100 object-fit-cover object-position-top" src="../assets/images/Vito.png" alt="ai-image">
          </a>
        </div>
        <!-- line-gradient -->
        <div class="mt-4 mt-md-10">
          <div class="banner-gradient-lr py-5"></div>
        </div>
      </div>
    </section>
    <section class="info position-relative px-md-20 pb-20 pb-md-13">
      <div class="col-6 info-banner h-100 position-absolute top-0 start-0"></div>
      <div class="col-6"></div> 
      <h2 class="mb-0 info-title position-absolute text-white fs-6 letter-s24 letter-xl-s48 fs-md-12 z-5 ps-3 ps-md-20 pb-5 pb-md-4 border-1 border-white border-bottom start-0 end-0">什麼是<br />ALPHABOX+</h2>
      <!-- Swiper -->
      <div class="px-lg-0">
        <div class="container-fluid pt-4 pt-md-8 px-md-0">
          <div class="row align-items-center">
            <div class="d-none d-md-block swiper-button-prev">
              <div></div>
              <svg xmlns="http://www.w3.org/2000/svg" width="180" height="48" viewBox="0 0 180 48" fill="none">
                <mask id="mask0_303_5647" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="180" height="48">
                  <rect width="180" height="48" fill="#28085C" />
                </mask>
                <g mask="url(#mask0_303_5647)">
                  <path d="M26 38L4 24L26 10L19.15 22H176V26H19.15L26 38Z" fill="white" />
                </g>
              </svg>
            </div>
            <div class="swiper info-swiper">
              <ul class="swiper-wrapper"> 
                <li class="swiper-slide position-relative">
                  <div class="position-absolute top-0 bottom-0 start-0 end-0 w-100 h-100 d-flex flex-column justify-content-end justify-content-md-center align-items-md-end text-start text-white p-4 p-md-10">
                    <p class="font-shrikhand fs-16 fs-md-24 mb-2 mb-md-0">01</p>
                    <h3 class="fw-bold fs-6 fs-md-8 word-1 word-md-2 mb-2 mb-md-4">立 體 投 影 技 術</h3>
                    <p class="fw-bold mb-0">透過高科技立體投影技術，讓您感受真實的科技世界。</p>
                  </div>
                  <img class="img-fluid object-fit-cover h-100" src="../assets/images/carousel.png" alt="info-image" />
                </li>
                <li class="swiper-slide position-relative">
                  <div class="position-absolute top-0 bottom-0 start-0 end-0 w-100 h-100 d-flex flex-column justify-content-end justify-content-md-center align-items-md-end text-start text-white p-4 p-md-10 clearfix">
                    <p class="font-shrikhand fs-16 fs-md-24 mb-2 mb-md-0">02</p>
                    <h3 class="fw-bold fs-6 fs-md-8 word-1 word-md-2 mb-2 mb-md-4">立 體 投 影 技 術</h3>
                    <p class="fw-bold mb-0">透過高科技立體投影技術，讓您感受真實的科技世界。</p>
                  </div>
                  <img class="img-fluid object-fit-cover h-100" src="../assets/images/carousel.png" alt="info-image" />
                </li>
                <li class="swiper-slide position-relative">
                  <div class="position-absolute top-0 bottom-0 start-0 end-0 w-100 h-100 d-flex flex-column justify-content-end justify-content-md-center align-items-md-end text-start text-white p-4 p-md-10 clearfix">
                    <p class="font-shrikhand fs-16 fs-md-24 mb-2 mb-md-0">03</p>
                    <h3 class="fw-bold fs-6 fs-md-8 word-1 word-md-2 mb-2 mb-md-4">立 體 投 影 技 術</h3>
                    <p class="fw-bold mb-0">透過高科技立體投影技術，讓您感受真實的科技世界。</p>
                  </div>
                  <img class="img-fluid object-fit-cover h-100" src="../assets/images/carousel.png" alt="info-image" />
                </li>
              </ul>
            </div>
            <div class="d-none d-md-block swiper-button-next">
              <svg xmlns="http://www.w3.org/2000/svg" width="180" height="48" viewBox="0 0 180 48" fill="none">
                <mask id="mask0_250_5034" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="180" height="48">
                  <rect width="180" height="48" fill="#D9D9D9" />
                </mask>
                <g mask="url(#mask0_250_5034)">
                  <path d="M154 38L160.85 26H4V22H160.85L154 10L176 24L154 38Z" fill="white" />
                </g>
              </svg>
            </div>
          </div>
          <div class="mt-8">
            <div class="banner-gradient-rl py-5 position-relative"></div>
          </div>
        </div>
      </div>
    </section>
    <section class="news pt-md-40 pb-20 pb-md-10 banner-radial text-white">
      <div class="container">
        <h2 class="mb-0 fw-bold fs-10 fs-md-12 letter-s40 letter-md-s48 pb-8 pb-md-10 border-bottom">最新消息</h2>
        <div class="py-8 py-md-10 fw-bold px-4 border-bottom position-relative">
          <p class="letter-s16 d-flex align-items-center mb-1"><span class="material-symbols-outlined me-4"> emergency </span> 2023.06.30 </p>
          <h3 class="fs-5 letter-s20 mb-3">產品升級公告</h3>
          <div class="row justify-content-md-between">
            <p class="col-md-9 mb-3 mb-md-0">榮幸地宣布，ALPHABOX+ 已成功完成最新一代的升級！本次升級包括提升投影解析度、優化語音辨識技術，以及擴充情感識別功能。歡迎您了解本次升級帶來的更為卓越的性能！ </p>
            <a class="col-md-3 d-flex justify-content-md-end flex-grow-0 align-items-start stretched-link" href="#"><img src="../assets/images/line_end_arrow_notch_news.png" alt="line_end_arrow - 圖片"></a>
          </div>
        </div>
        <div class="row mb-10 mb-md-19 gx-0 border-bottom">
          <div class="col-md-6 border-end-md border-bottom border-bottom-md-0 position-relative">
            <div class="py-8 py-md-100 fw-bold">
              <div class="px-4">
                <p class="letter-s16 d-flex align-items-center mb-1"><span class="material-symbols-outlined me-4"> emergency </span>
                  2023.06.30 </p>
                <h3 class="fs-5 letter-s20 mb-3">限時優惠活動</h3>
                  <p class="mb-3">為答謝廣大用戶的支持，本月將舉辦一場限時優惠活動。訂閱 ALPHABOX+ 的顧客，皆可享受九折優惠。機會難得，請勿錯過此良機！</p>
                  <a class="stretched-link" href="#"><img
                      src="../assets/images/line_end_arrow_notch_news_small.png" alt="line_end_arrow - 圖片"></a>
              </div>
            </div>
          </div>
          <div class="col-md-6 position-relative">
            <div class="py-8 py-md-10 fw-bold">
              <div class="px-4">
                <p class="letter-s16 d-flex align-items-center mb-1"><span class="material-symbols-outlined me-4"> emergency </span>
                  2023.04.18 </p>
                <h3 class="fs-5 letter-s20 mb-3">新功能上線</h3>
                <p class="mb-3">為使您的 ALPHABOX+ 更趨完善，我們不懈地研發創新功能。近期，我們新推出智慧家居控制功能，使您的機器人能更便利地協助您操作家中各類智能設備。</p>
                <a class="stretched-link" href="#"><img
                    src="../assets/images/line_end_arrow_notch_news_small.png" alt="line_end_arrow - 圖片"></a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 d-flex flex-column align-items-center">
            <a href="#" class="fw-bold btn-more position-relative mb-md-24">
              <span class="btn-more-bg"></span>
              查看更多
            </a>
            <p class="d-none d-md-block align-self-end">為環保盡一份心力，我們的包裝盒和紙質說明書都使用環保材料</p>
          </div>
        </div>
      </div>
    </section>
    <section class="share pt-20 pt-md-40 pb-md-10 overflow-hidden">
      <div class="container">
        <div class="row fw-bold text-white align-items-center gx-0 mb-md-4">
          <div class="col-md-5 mb-4">
            <h2 class="mb-0 fs-10 fs-md-12 letter-s40 letter-md-s48">使用分享</h2>
          </div>
          <div class="col-md-7 order-2 order-md-0 mb-6 mb-md-0">
            <p class="mb-0">展示其他使用者對於產品的真實體驗與評價，讓您更加放心選擇。</p>
          </div>
          <div class="col-md-12 mb-6 mb-md-10 order-1 order-md-0">
            <p class="d-flex align-items-center mb-0">
              <span class="ms-1">01</span> 
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <mask id="mask0_281_5207" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
                  <rect width="24" height="24" fill="#D9D9D9" />
                </mask>
                <g mask="url(#mask0_281_5207)">
                  <path d="M4 13V11H20V13H4Z" fill="white" />
                </g>
              </svg> 
              <span class="me-1">04</span>
            </p>
          </div>
          <div class="col-auto order-3 mb-4 mb-md-0">
            <span class="material-symbols-outlined fs-20">
              emergency
            </span>
          </div>
        </div>
        <div class="row">
          <!-- pc 顯示區塊 -->
          <div class="col-auto d-none d-md-block">
            <div class="swiper share-swiper overflow-inherit">
              <div class="swiper-wrapper gap-6">
                <div class="swiper-slide col-4">
                  <div class="share-card h-100 p-10 fw-bold d-flex flex-column">
                    <div class="flex-grow-1">
                      <span class="d-inline-flex align-items-center mb-8">
                        Zona
                        <span class="material-symbols-sharp fs-2 mx-2"> circle </span>
                        Taipei
                      </span>
                      <p class="mb-0">ALPHABOX+ 真的很夯！每次把它打開，感覺就像是身臨其境一樣。它陪我度過了很多寂寞的時光，讓我在家裡也能享受到優質的休閒時光。</p>
                    </div>
                    <p class="d-flex align-items-center">
                      <span class="material-symbols-sharp fs-4 me-4">
                        circle
                      </span>
                      <span class="material-symbols-sharp fs-4 me-4">
                        circle
                      </span>
                      ALPHABOX+ Dianne
                    </p>
                  </div>
                </div>
                <div class="swiper-slide col-4">
                  <div class="share-card h-100 p-10 fw-bold d-flex flex-column">
                    <div class="flex-grow-1">
                      <span class="d-inline-flex align-items-center mb-8">
                        Lin
                        <span class="material-symbols-sharp fs-2 mx-2"> circle </span>
                        Chiayi
                      </span>
                      <p class="mb-0">非常推薦！它的畫面清晰度超高，真的讓我驚艷不已。而且它還可以和我互動，感覺就像是有個真實的朋友在身邊。</p>
                    </div>
                    <p class="d-flex align-items-center">
                      <span class="material-symbols-sharp fs-4 me-4">
                        circle
                      </span>
                      <span class="material-symbols-sharp fs-4 me-4">
                        circle
                      </span>
                      ALPHABOX+ Felix
                    </p>
                  </div>
                </div>
                <div class="swiper-slide col-4">
                  <div class="share-card h-100 p-10 fw-bold d-flex flex-column">
                    <div class="flex-grow-1">
                      <span class="d-inline-flex align-items-center mb-8">
                        云
                        <span class="material-symbols-sharp fs-2 mx-2"> circle </span>
                        Taipei
                      </span>
                      <p class="mb-0">我之前一直在找能陪伴我度過空虛時光的好夥伴，直到遇見 ALPHABOX+。它不僅僅是一個機器人，更像是一個真正的朋友，陪著我分享喜怒哀樂。真的很讚！</p>
                    </div>
                    <p class="d-flex align-items-center">
                      <span class="material-symbols-sharp fs-4 me-4">
                        circle
                      </span>
                      <span class="material-symbols-sharp fs-4 me-4">
                        circle
                      </span>
                      ALPHABOX+ Dianne
                    </p>
                  </div>
                </div>
                <div class="swiper-slide col-4">
                  <div class="share-card h-100 p-10 fw-bold d-flex flex-column">
                    <div class="flex-grow-1">
                      <span class="d-inline-flex align-items-center mb-8">
                        Zichi
                        <span class="material-symbols-sharp fs-2 mx-2"> circle </span>
                        Taipei
                      </span>
                      <p class="mb-0">讓我在忙碌的工作之餘，也能找到休閒的樂趣。它的互動功能非常有趣，讓我在短短的時間內就愛上了它。給它一百分！</p>
                    </div>
                    <p class="d-flex align-items-center">
                      <span class="material-symbols-sharp fs-4 me-4">
                        circle
                      </span>
                      <span class="material-symbols-sharp fs-4 me-4">
                        circle
                      </span>
                      ALPHABOX+ Vito
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <!-- Scrollbar -->
            <div class="row align-items-center mt-9 mb-md-31">
              <div class="col-8">
                <!-- 加上 position-static 將滾動條的絕對定位設定覆蓋 -->
                <div class="swiper-scrollbar position-static"></div>
              </div>
              <div class="col-4">
                <p class="mb-0 text-white">SCROLL</p>
              </div>
            </div>
            <p class="mb-0 text-white d-none d-md-block">若您有任何疑問或建議，歡迎隨時與我們聯絡，我們將竭誠為您解答。</p>
          </div>
          <!-- 手機顯示區塊 -->
          <ul class="col d-md-none">
            <li class="share-card-m mb-6">
              <div class="h-100 p-10 fw-bold d-flex flex-column">
                <div class="flex-grow-1">
                  <span class="d-inline-flex align-items-center mb-8">
                    Zona
                    <span class="material-symbols-sharp fs-2 mx-2"> circle </span>
                    Taipei
                  </span>
                  <p class="mb-0">非常推薦！它的畫面清晰度超高，真的讓我驚艷不已。而且它還可以和我互動，感覺就像是有個真實的朋友在身邊。</p>
                </div>
                <p class="d-flex align-items-center mb-0">
                  <span class="material-symbols-sharp fs-4 me-4">
                    circle
                  </span>
                  <span class="material-symbols-sharp fs-4 me-4">
                    circle
                  </span>
                  ALPHABOX+ Dianne
                </p>
              </div>
            </li>
            <li class="share-card-m mb-6">
              <div class="h-100 p-10 fw-bold d-flex flex-column">
                <div class="flex-grow-1">
                  <span class="d-inline-flex align-items-center mb-8">
                    Lin
                    <span class="material-symbols-sharp fs-2 mx-2"> circle </span>
                    Chiayi
                  </span>
                  <p class="mb-0">非常推薦！它的畫面清晰度超高，真的讓我驚艷不已。而且它還可以和我互動，感覺就像是有個真實的朋友在身邊。</p>
                </div>
                <p class="d-flex align-items-center mb-0">
                  <span class="material-symbols-sharp fs-4 me-4">
                    circle
                  </span>
                  <span class="material-symbols-sharp fs-4 me-4">
                    circle
                  </span>
                  ALPHABOX+ Felix
                </p>
              </div>
            </li>
            <li class="share-card-m mb-6">
              <div class="h-100 p-10 fw-bold d-flex flex-column">
                <div class="flex-grow-1">
                  <span class="d-inline-flex align-items-center mb-8">
                    云
                    <span class="material-symbols-sharp fs-2 mx-2"> circle </span>
                    Taipei
                  </span>
                  <p class="mb-0">我之前一直在找能陪伴我度過空虛時光的好夥伴，直到遇見 ALPHABOX+。它不僅僅是一個機器人，更像是一個真正的朋友，陪著我分享喜怒哀樂。真的很讚！</p>
                </div>
                <p class="d-flex align-items-center mb-0">
                  <span class="material-symbols-sharp fs-4 me-4">
                    circle
                  </span>
                  <span class="material-symbols-sharp fs-4 me-4">
                    circle
                  </span>
                  ALPHABOX+ Dianne
                </p>
              </div>
            </li>
            <li class="share-card-m mb-20">
              <div class="h-100 p-10 fw-bold d-flex flex-column">
                <div class="flex-grow-1">
                  <span class="d-inline-flex align-items-center mb-8">
                    Zona
                    <span class="material-symbols-sharp fs-2 mx-2"> circle </span>
                    Kaohsiung
                  </span>
                  <p class="mb-0">讓我在忙碌的工作之餘，也能找到休閒的樂趣。它的互動功能非常有趣，讓我在短短的時間內就愛上了它。給它一百分！</p>
                </div>
                <p class="d-flex align-items-center mb-0">
                  <span class="material-symbols-sharp fs-4 me-4">
                    circle
                  </span>
                  <span class="material-symbols-sharp fs-4 me-4">
                    circle
                  </span>
                  ALPHABOX+ Vito
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="share-text-bottom position-relative">
        <p class="position-absolute fs-32 fs-md-100 font-shrikhand">ALPHABOX+</p>
      </div>
    </section>
    <section class="contact text-white pt-15 pb-20 pt-md-36 pb-md-36 bg-primary-600">
      <div class="container">
        <div class="row">
          <div class="col-md-5 mb-6 mb-md-0">
            <h2 class="mb-md-5 fs-md-12 letter-md-s48">聯絡我們</h2>
            <div class="d-flex align-items-center mb-9 mb-md-14">
              <span class="material-symbols-sharp fs-2 fs-md-3 me-2">
                circle
              </span>
              <span class="line bg-white"></span>
            </div>
            <p class="mb-1">讓科技成為您的最佳夥伴</p>
            <p class="mb-0">立即體驗神奇功能並享限時優惠！</p>
          </div>
          <div class="col-md-7">
            <span class="material-symbols-outlined fs-20 text-white mb-4 ">
              emergency
            </span>
            <form action="">
              <div class="form-floating mb-4 text-primary-700">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Email</label>
              </div>
              <div class="form-floating mb-4 text-primary-700">
                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                  style="height: 100px"></textarea>
                <label for="floatingTextarea2">COMMENTS</label>
              </div>
              <div class="text-end">
                <button type="button" class="btn btn-primary col-12 col-md-7 text-white"><i class="material-symbols-outlined me-1 align-bottom">point_scan </i> 送出</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <section class="ai-contact">
      <ul class="d-flex flex-wrap">
        <li class="col-6 col-lg-3 position-relative h-100">
          <img class="h-100" src="../assets/images/diane_vertical.png" alt="前往 Diane 介紹面">
          <div class="d-flex flex-column align-items-center text-white">
            <div class="fs-75 fs-md-100 font-saira">1</div>
            <h3 class="font-shrikhand fs-md-8">Diane</h3>
            <p class="fw-bold">知識型</p>
            <div class="d-md-flex align-items-md-center">
              <p class="fw-normal">學術領導/知識分享/智能問答</p>
              <a href="#" class="stretched-link">
                <img src="../assets/images/line_end_arrow_notch_news.png" alt="前往 Diane 頁面">
              </a>
            </div>
          </div>
        </li>
        <li class="col-6 col-lg-3">
          <img src="../assets/images/felix_vertical.png" alt="前往 felix 介紹面">
        </li>
        <li class="col-6 col-lg-3">
          <img src="../assets/images/karina_verticalgle.png" alt="前往 karina 介紹面">
        </li>
        <li class="col-6 col-lg-3">
          <img src="../assets/images/vito_vertical.png" alt="前往 vito 介紹面">
        </div>
      </ul>

    </section>
  </main> 
  <!-- <%- include('./layout/footer'); -%> -->

  <!-- register modal -->
  <div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content rounded-0 text-center">
        <div class="modal-header d-block position-relative border-bottom border-3 border-primary">
          <h5 class="modal-title serif" id="registerLabel">立刻成為7TAO會員</h5>
          <button type="button" class="btn-close text-primary position-absolute top-50 end-0 translate-middle-y opacity-100 me-3 mt-0 p-0" data-bs-dismiss="modal"
            aria-label="Close"></button>
        </div>
        <div class="py-8 py-md-12">
          <p class="modal-body py-0 mb-4">
            立刻成為七逃會員，加速活動報名流程並取得活動優惠資訊。<br />
            您也可以先報名活動，日後再註冊帳號，<br />
            系統會在認證您的Email後，協助您找回舊的訂單。
          </p>
          <a href="#" class="btn btn-primary text-secondary rounded-0 mx-auto px-5 py-2">立即成為會員</a>
        </div>
      </div>
    </div>
  </div>

  <script type="module" src="../main.js"></script>
  <script type="module" src="../assets/js/index.js"></script>

</body>

</html>