<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>ALPHABOX+ 虛擬陪伴平台</title>
  <%- include('./layout/meta') -%>
  <%- include('./layout/font') -%>
</head>

<body>
  <%- include('./layout/header'); -%>

  <main class="contact pt-32 pt-lg-40 min-vh-100">
    <div class="container">
      <div class="row">
        <h2>註冊</h2>
      </div>
    </div>
  </main>
  <%- include('./layout/footer'); -%>

  <script type="module" src="../main.js"></script>
</body>

</html>